@import (reference) url("/lib/client/custom.bootstrap.import.less");

#rightAdPanel {
    float:right;
    background-color: @panel_bg;
    z-index: 1;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    pointer-events: auto;
    height:100%;
    margin-left:10px;
    padding: 0px 10px 0px 10px;
}
